{% extends "mainLayout.html.twig" %}
{% block content %}
    <div class="login-container">
        <div class="login-form">
            <h1>Bonjour</h1>
            <form action="{{ url_for('connexion') }}" method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" name="password" id="password" class="form-control" required>
                </div>
                <input type="hidden" name="csrf" value="{{ csrf }}">
                <button type="submit" class="btn-login">Se connecter</button>
            </form>
            <div class="signup-link">
                <p>Pas encore de compte ? <a href="{{ url_for('inscription') }}">Inscrivez-vous</a></p>
            </div>
        </div>
    </div>
{% endblock %}
