{% extends "mainLayout.html.twig" %}
{% block content %}
	<div class="home">
		<div class="left-side">
			<h1>Bienvenue sur <br> GiftBox</h1>
		</div>
		<div class="right-side">
			<img src="{{ base_path() }}/{{ img }}/homePage.png" alt="" id="home-img">
		</div>
	</div>
{% endblock %}
